:root {
  --main-color: #24232A;
  --secondary-color: #15141b;
  --text-color: #fff;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
}

/* ############ */
/* ## COMMON ## */
/* ############ */

.section {
  margin-bottom: 10rem;
}
.input_container {
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
}
.page_subheading {
  color: #aaa;
  margin-bottom: 6rem;
}
.page_heading2 {
  font-size: 2.5rem !important;
}
.page_backgroundText {
  position: absolute;
  top: 5rem;
  left: 5rem;
  font-size: 15rem;
  margin: 0;
  color: #24232A;
  z-index: -2;
}
.btn {
  border: 3px solid #26262F;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  width: 100%;
  background-color: #15141b;
  color: #fff;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  background-color: #09080c;
}
.input {
  width: 100%;
  padding: 1rem;
  margin: 5px 0;
}
.input:focus {
  outline: none;
  border: 3px solid #2A2A33;
}

@media only screen and (min-width: 600px) {
  .page_heading {
    font-size: 2rem;
  }
  .page_subheading {
    font-size: 1rem;
    margin-top: -1rem;
  }
}

@media only screen and (min-width: 768px) {
  .page_heading {
    font-size: 3rem;
  }
  .page_subheading {
    font-size: 1.5rem;
    margin-top: -1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .page_heading {
    font-size: 4rem;
  }
  .page_subheading {
    font-size: 2rem;
    margin-top: -2rem;
  }
}





/* ############################################################ */
/* CARD COURSES (COURSE LIST) + CARD TOPIC (OF A SINGLE COURSE) */
/* ############################################################ */

.cardCourse_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #2A2A33;
  background-color: #26262F;
  padding: 1rem;
  height: 100%;
}
.cardCourse_container:hover {
  cursor: pointer;
}
.cardCourse_id {
  font-size: 1.5rem;
  font-weight: 800;
  color: #3d3c43;
  padding-left: 1rem;
  border-left: 4px solid #000;
}
.cardCourse_name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}
.cardCourse_desc {
  font-size: 0.9rem;
  font-weight: 400;
  color: #5A5960;
  margin: 0;
}





/* ############### */
/* ## FILE DROP ## */
/* ############### */
.dropzone_area {
  border: '2px dashed #2A2A33';
  border-radius: '4px';
  padding: '20px';
  text-align: 'center';
  cursor: 'pointer';
}

.dropzone_label {
  font-weight: 600;
  font-size: 0.8rem;
}
.dropzone_value {
  font-size: 0.8rem;
}







/* ## CARD QUIZ ## */
.cardQuiz_container {
  background-color: #24232A;
  margin: 2rem 0;
  padding: 2rem;
}
.cardQuiz_question {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}
.cardQuiz_radio[type="radio"] {
  display: none;
}
.cardQuiz_label {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid #3c3c43;
  width: 100%;
}
.cardQuiz_radio[type="radio"]:checked + label {
  border: 3px solid #2980b9;
  background-color: #297fb916;
}

.cardQuiz_optionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
}
.cardQuiz_intruction {
  font-size: 0.9rem;
  color: #7f7f8d;
}


/* ## AUTHENTICATION ## */
.auth_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 15rem);
}
.authForm_container {
  width: 30rem;
  margin: 0 auto;
}
.authForm_subtext {
  text-align: left;
  font-size: 0.9rem;
}
.authForm_link {
  color: #2980b9;
}


/* ## CARD QUIZ ## */
.toggle_container {
  width: 100%;
}
.toggle_btn {
  font-size: 1rem;
  width: fit-content;
  margin-right: 1rem;
}



/* RANDOM */
.email_nav {
  margin-left: 2rem;
  font-size: 0.9rem;
  font-weight: 800;
}
.fileinput_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fileinput_label {
  font-size: 0.9rem;
  color: #aaa;
}
.newsection{
  margin: 4rem 0;
}
.inputflex {
  flex: 1;
}